<% @tips ||= [] %>
<% if @tips.include? 'return_profile'-%>
  <div class="tips">You are viewing other user's profile. To return to your profile <%= link_to "click here", user_path(current_user) -%>.</div>
<% end -%>
<% if @tips.include? 'edit_profile' %>
	<div class="tips">Want to add more information about yourself? <%= link_to "Edit your profile", edit_user_path(current_user) -%>.</div>
<% end -%>