<div class="yui-g">
  	<div class="yui-u first">
		<div class="box">
			<div class="box-left"></div>
	  		<div class="box-header">	
				<%= image_tag 'mark.png' %>
				<h1>Home</h1>
			</div>
			<div class="box-right"></div>
			<div class="box-content"></div>
		</div>
	</div>
	<div class="yui-u"></div>
</div>
