<div class="yui-g box">
  	<div class="yui-u first">
		<h1>Latest Users</h1>
		<ul>
		  <% @users.each do |u| %>
			<% css = cycle("fl", "fr") -%>
		    <%= render :partial => 'users/user_item', :locals => { :u => u, :s => 'default', :css => css }%>
		  <% end %>
		</ul>
	</div>
	<div class="yui-u">
		<h1>Latest Groups</h1>
		<ul>
		  <% @groups.each do |g| %>
			<% css = cycle("fl", "fr") -%>
		    <%= render :partial => 'groups/group_item', :locals => { :g => g, :s => 'default', :css => css }%>
		  <% end %>
		</ul>
	</div>
</div>

